/* container */
.container {
    width: 1000px;
    margin: 0 auto;
    /* background: #cccccc; */
}

/* row */
.row {
    position: relative;
    margin: 0 20px;
}

.line {
    padding-bottom: 20px;
    border-bottom: 1px solid #EBEBEB;
}

/*여백설정부분*/

/* header */
#header .row {
    border-bottom: #EBEBEB solid 1px;
    padding-bottom: 15px;
}

#header .header-data {
    font-weight: 600;
    font-size: 12px;
    padding-top: 30px;
    display: block;
    color: #a8a8a8a8;
}

#header .header-title {
    font-weight: bold;
    font-size: 32px;
}

#header .header-id {
    background: linear-gradient(149.16deg, #A4A9B5 10.18%, rgba(164, 169, 181, 0) 81.31%), #C4C4C4;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 11px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 40px;
    text-align: center;
    font-weight: 300;
}

/*main*/
/*section*/
/*bestM*/
.bestM {}


.best_title {}

.bt_stit {
    color: #DA5E7C;
    /* padding-top: 26px; */
    display: block;
    padding-top: 10px;

}

.bt_tit {
    font-weight: 600;
    font-size: 22px;
    padding-top: 3px;

}

.bt_desc {
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 13px;
    padding-top: 6px;
    color: #818181;
}

/*recentM*/
.recentM {
    overflow: hidden;
}
.recent_wrap{
    display: flex;
}
.recent{
    flex: 1;
    margin-right: 2%; 
}

.recentM .recent:last-child {
    margin-right: 0;
}

.recentM h2 {
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.rt_stit {
    font-weight: bold;
    font-size: 15px;
    padding-top: 8px;
    display: inline-block;
}

.rt_tit {
    font-weight: 300;
    font-size: 15px;
    color: #908F94;
    padding-top: 4px;
}

/*nextM*/
.nextM>.container>.row>h2 {
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 20px;
}

.next {
    display: flex;
}

.next_img {
    flex: 1;
    margin: 9px;
}

.next_txt {
    flex: 2;
    padding-left: 9px;
    border-bottom: 1px solid #EBEBEB;
    padding: 27px 0;
    display: flex;/*가로성질*/
    flex-direction: column;/*세로로만들기*/
    justify-content: center;
}

.nt_stit {
    font-weight: 600;
    font-size: 12px;
    color: #DA5E7C;
}

.nt_tit {
    font-weight: 600;
    font-size: 16px;
}

.nt_desc {
    font-size: 13px;
    color: #A1A1A3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    /*두줄효과*/
    overflow: hidden;
}

/* mediaquery */
@media (max-width: 1020px) {
    .container {
        width: 100%;
    }
}